.form-control{
    background-color: #313131;
    border: 1px solid #484e58;
    color: #9c9898;
}
.form-select{
    background-color: #313131;

    border: 1px solid #484e58;
    color: #9c9898;

}
.form-check label{
    color: #9c9898;

}

.form-control:focus {
    border: 1px solid #505763;
    background-color: #464b53;
}

.form-select:focus{
    box-shadow: white!important;
}

.form-group label {
    color: #9c9898;
}