.navbar-brand,  .fa-cart-shopping, i {
    color: #EC625F !important;
}

.dropdown-item:hover{
    background-color: #343434;
    color: white;
}

.dropdown-menu {
   
    background-color: #292929;

}
.dropdown-item{
    color: #a19f9f;
}